<!DOCTYPE html>
<html lang="en" data-theme="night">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>{% block title %}Dealership{% endblock %}</title>
  <!-- Tailwind CSS -->
<script src="https://cdn.tailwindcss.com"></script>

<!-- DaisyUI (must come after Tailwind) -->
<link href="https://cdn.jsdelivr.net/npm/daisyui@4.12.10/dist/full.min.css"
      rel="stylesheet">
</head>
<!-- hx-headers sends the CSRF token with every HTMX request -->
<body hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
  <nav>
  {% if user.is_authenticated %}
    <a href="{% url 'branch-list' %}">Branches</a> |
    <a href="{% url 'car-list' %}">Cars</a> |
    <a href="{% url 'seller-list' %}">Sellers</a>
    &nbsp;&nbsp;|&nbsp;&nbsp;
    Hello, {{ user.username }} &mdash;
   

    <button hx-post="{% url 'logout' %}" 
            hx-target="body"
            hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}' >Logout</button>
    
  {% else %}
    <a href="{% url 'login' %}">Login</a> |
    <a href="{% url 'register' %}">Register</a>
  {% endif %}
</nav>
  <hr>
  <main>
    {% block content %}{% endblock %}
  </main>

  <!-- HTMX from CDN — no installation needed -->
  <script src="https://unpkg.com/htmx.org@1.9.10"></script>
</body>
</html>